/*navbar*/
.Navdiv header{
    background: #3674B5;
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: arial;
    margin-bottom: 50px;

}
/* logo */
.Navdiv img{
    height: 40px;
    width: 180px;
    margin: 0;
    padding: 0;
    float: left;
}
.Navdiv ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3674B5;
}
  .Navdiv li {
    float: right;
  }
  .Navdiv  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .Navdiv  li a:hover {
    background-color: #4da3ff;
  }
.bg{
    background-color: #9EC3EA;
}
/*Log a symptom*/
.Symptom-logger {
    font-family: Arial, sans-serif;
    color: whitesmoke;
    margin: 20px;
    padding: 50px;
    text-align: center;
    background-color:#578FCA;
    width: 77%;
    margin: 0 auto;   
    height: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.InputInfo{
    padding: 20px;
    text-align: center;
    background-color: #3674B5;
    width: 70%;
    margin-top: px;
    border: 1px solid black;
    margin: 0 auto;
}


.Sympotom-logger h1, h2, h3 {
    color: whitesmoke;
}


/* Form styles */
.Symptom-logger input, select 
{
    width: 90%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;;
}
.Symptom-logger textarea{
    padding: 10px;
    width: 47%;
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;;
}
.notes {
    height: 80px;
    padding-top: 20px;
    margin-top: 10px;
}
/* Buttons */
.btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #2980b9;
}

/* Symptom list */
#symptomsList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.symptom-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px auto;
    max-width: 300px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 1.6;
    color: rgb(0, 44, 73);
}

.symptom-item strong {
    color: #2c3e50;
    font-size: 1.1em;
}

.symptom-item small {
    color: #888;
}

/* Delete button */
.delete-button{
    background-color: #e74c3c;
    padding: 8px 12px;
    font-size: 0.9em;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: 0.3s;
}

.delete-button:hover {
    background-color: #c0392b;
}

/*Medication Reminder*/

.Medication-reminder {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1300px;
    margin: 0 auto;
    margin-top: 20px;
}
.container {
    background-color: #578FCA;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 650px;
    max-width: 1200px; 
    height: auto;
    padding: 50px;
    width: 1400px;
}

.header {
    flex-direction: column;
    align-items: center ;
    background-color: #3674B5;
    padding: 100px;
    width: 900px;
    font-family: arial;
    margin: auto;
    border: 1px solid black;
    text-align: center;
}

.header > h1 {
    font-size: 40px;
    text-align: center;
    color: whitesmoke;
}

.time {
    font-size: 24px;
    margin-top: 20px;
    color: whitesmoke;
}

.reminder-input-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.reminder-input-container div {
    display: flex;
    justify-content: center;
    align-items: center ;
    font-family: arial;
}

.reminder-input-container label {
    font-size: 18px;
    width: 300px;
    color: #333;
    margin-bottom: 5px;
}

.reminder-input-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: arial;
}

.add-reminder-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.time {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 20px;
}

.reminder-container {
    padding: 20px;
    max-width: 600px;
}

.reminder-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
}
.reminder-text{
    font-size: 20px;
    color: #333;
}
.reminder-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 140%;
    margin-left: 150px;   
}

.delete-btn {
    background-color: #ff5252;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

/*Appointment Tracker*/

.Appointment-tracker {
	max-width: 1300px;
	margin: 15px auto;
    font-family: arial;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
}

/* Calendar container */
.container-calendar {
	background: #578FCA;
	padding: 15px;
	max-width: 1300px;
	margin: 0 auto;
	overflow: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: space-between;
}

/* Event section styling */
#event-section {
	padding: 10px;
	background: #3674B5;
	margin: 20px 0;
	border: 1px solid BLACK;
    
}

.container-calendar #left h1 {
	color: whitesmoke;
	text-align: center;
	background-color: #3674B5;
    border: 1px solid BLACK;
	margin: 0;
	padding: 10px 0;
}

#event-section h3 {
	color: whitesmoke;
	font-size: 18px;
	margin: 0;
}

#event-section input[type="date"],
#event-section input[type="text"] {
	margin: 10px 0;
	padding: 5px;
	width: 80%;
}

#event-section button {
	background: #5ca2ec;
	color: white;
	border: none;
	padding: 8px 15px;
	cursor: pointer;
}

.event-marker {
	position: relative;
}

.event-marker::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* event tooltip styling */
.event-tooltip {
	position: absolute;
	background-color: rgba(234, 232, 232, 0.763);
	color: black;
	padding: 10px;
	border-radius: 4px;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	transition: all 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.event-marker:hover .event-tooltip {
	display: block;
}

/* Reminder section styling */
#reminder-section {
	padding: 10px;
	background: #3674B5;
	margin: 20px 0;
	border: 1px solid #ccc;
    border: 1px solid BLACK;
}
#left{
    margin-left: 20px;
    padding: 10px 0;
    text-align: center;
    color: whitesmoke;
}
#right{
    margin-right: 20px;
    padding: 10px 0;
    text-align: center;
}
#reminder-section h3 {
	color: whitesmoke;
	font-size: 18px;
	margin: 0;
}

#reminderList {
	list-style: none;
	padding: 0;
}

#reminderList li {
	margin: 5px 0;
	font-size: 16px;
}

/* Style for the delete buttons */
.delete-event {
	background: rgb(237, 19, 19);
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	margin-left: 10px;
	align-items: right;
}
#monthAndYear {
    text-align: center;
    margin-top: 0;
    color: whitesmoke;
    padding: 17px;
	background: #3674B5;
	margin-top: 20px;
	border: 1px solid #ccc;
    border: 1px solid BLACK;
}

/* Buttons in the calendar */
.button-container-calendar button {
	cursor: pointer;
	background:  #3674B5;
	color: #fff;
	border: 1px solid  #3674B5;
	border-radius: 4px;
	padding: 5px 10px;
}

/* Calendar table */
.table-calendar {
	border-collapse: collapse;
	width: 100%;
}

.table-calendar td,
.table-calendar th {
	padding: 30px;
	border: 2px solid #e2e2e2;
	text-align: center;
	vertical-align: top;
}

/* Date picker */
.date-picker.selected {
	background-color: #f2f2f2;
	font-weight: bold;
	outline: 1px dashed #002d33;
}

.date-picker.selected span {
	border-bottom: 2px solid currentColor;
}

/* Day-specific styling */
.date-picker:nth-child(1) {
	color: rgb(0, 44, 73);
	/* Sunday */
}

.date-picker:nth-child(7) {
	color: rgb(0, 44, 73);
	/* Friday */
}

/* Hover effect for date cells */
.date-picker:hover {
	background-color: #3674B5;;
	color: white;
	cursor: pointer;
}

/* Header for month and year */
#monthAndYear {
	text-align: center;
	margin-top: 0;
}

/* Navigation buttons */
.button-container-calendar {
	position: relative;
	margin-bottom: 1em;
	overflow: hidden;
	clear: both;
}

#previous {
	float: left;
}

#next {
	float: right;
}

/* Footer styling */
.footer-container-calendar {
	margin-top: 20px;
	border-top: 1px solid black;
	padding: 10px 10px;
}

.footer-container-calendar select {
	cursor: pointer;
	background: #ffffff;
	color: #585858;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px 1em;
}
#year{
    margin-left:70px;
}
/*footer*/
footer{
    margin-top:400px;
    font-size: small;
    color: white;
    background-color: #3674B5;
    padding: 35px;
    height: 50%;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.footer-box1 {
    background: #3674B5;
    padding: 20px;
    width: 300px;
    text-align: left;
    padding-bottom: 35px;
    font-size: 1.5rem;
}

.footer-box2 {
    background: #3674B5;
    padding: 20px;
    width: 300px;
    text-align: left;
    padding-bottom: 35px;
    font-family: arial;
}

.footer-box3 {
    background: #3674B5;
    padding: 20px;
    width: 300px;
    text-align: left;
    padding-bottom: 35px;
    font-family: arial;
}

.footer2{
    font-size: 1rem;
    text-align: center;
    padding-top: 10px;
    width: 60%;
    margin: auto;
    font-family: arial;
}